.home{
  background: #F7F8F3
  background-size: cover;
  height: 100vh;
}

.nav{
  height: 50px;
  background: #F7464E;
}
.nav div{
  display: inline-block;
  position: absolute;
  left: 0;
  padding: 15px;
  font-size: 20px;
  color:white;
}
.nav ul{
  position: absolute;
  right: 5px;
}
.nav ul li{
  display: inline-block;
}
.nav ul li a{
  color: white;
  padding: 5px;
}
