.home{
  background: url("https://ghab24.com/movafaghiat/downloadfile?type=2&id=16fa2b0294e410b2551c3bf6965c0853");
  background-size: cover;
  height: 100vh;
}
.nav{
  height: 50px;
  background: #F7464E;
}
.nav div{
  display: inline-block;    /*از این برای تغییر ستونی نوشته های به خطی کردنشون استفاده میشه*/
  position: absolute;
  left: 0;
  padding: 15px;
  font-size: 20px;
  color:white;
}
.nav ul{
  position: absolute;
  right: 5px;
}
.nav ul li{
  display: inline-block;
}
.nav ul li a{
  color: white;
  padding: 5px;
}
.home .text-container{
  text-align: center;
  display: flex;
  align-items: center;    /*برای تراز کردن موارد در مرکز به صورت عمودی استفاده می کنیم*/
  justify-content: center;
  height: 90vh;
}
.about.about-content{
  margin: 150px auto 0 auto;
  width: 500px;
}
.about-content h1{
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: red;
}
.about-content p{
  text-align: justify;
  font-family: "Lato", sans-serif;
  color: green;
}
@import url("https://fonts.googleapis.com/css?family=Roboto")





















/*پالت رنگی
نارنجی#F7464E
سفید#F7F8F3
#78BCC4آبی
#002C3Eآبی تیره*/
